/* eslint-disable */
<!-- src/components/Login.vue -->

<template>
  <div class="col-sm-4 col-sm-offset-4">
    <h2>Log In</h2>
    <p>Log in to your account to get some great quotes.</p>
    <div class="alert alert-danger" v-if="error">
      <p>{{ error }}</p>
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="Enter your username"
        v-model="credentials.username"
      >
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control"
        placeholder="Enter your password"
        v-model="credentials.password"
      >
    </div>
    <button class="btn btn-primary" @click="submit()">Access</button>
  </div>
</template>

<script>
// import axios from 'axios'

export default {
  data () {
    return {
      // We need to initialize the component with any
      // properties that will be used in it
      credentials: {
        username: '',
        password: ''
      },
      error: ''
    }
  },
  methods: {
    submit () {
      const path = this.$cnf.api_url + '/login'

      var credentials = {
        username: this.credentials.username,
        password: this.credentials.password
      }
      // using fetch() -- built on top of XMLHttpRequest
      fetch(path, {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(credentials)
      }).then((res) => res.json())
        .then((data) => localStorage.setItem('access_token', data.access_token))
        .then(this.$user.authenticated = true)
        .then((data) => console.log(data))
        .catch((err) => console.error(err))
    }
  }
}
</script>
