<template>
  <div class="example">{{ msg }}</div>
</template>

<script>
export default {
  data () {
    return {
      msg: 'SignUp'
    }
  }
}
</script>

<style>
.example {
  color: red;
}
</style>
